.DS_Store
.AppleDouble
.LSOverride
# Thumbnails
._*
id_rsa
node_modules
homedire/.gitconfig
homedir/.vim/backup/*
!homedir/.vim/backup/.gitignore
homedir/.vim/temp/*
!homedir/.vim/temp/.gitignore
homedir/.vim/.netrwhist
homedir/.vim/bundle/*
homedir/.vim/plugged/*
homedir/.tmux/plugins/*
!homedir/.vim/bundle/.gitignore
!homedir/.vim/bundle/Vundle.vim
.git_template/hooks/post-commit

tmux_scripts/rcp_average.csv
homedir/.tmux/resurrect/*.txt
