[submodule "oh-my-zsh"]
  path = oh-my-zsh
  url = git://github.com/robbyrussell/oh-my-zsh.git
[submodule "z-zsh"]
  path = z-zsh
  url = git://github.com/sjl/z-zsh.git
[submodule "homedir/.vim/bundle/Vundle.vim"]
	path = homedir/.vim/bundle/Vundle.vim
	url = git://github.com/VundleVim/Vundle.vim.git
[submodule "homedir/.zsh/zsh-autosuggestions"]
	path = homedir/.zsh/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule "tmux-colors-solarized"]
	path = tmux-colors-solarized
	url = https://github.com/seebi/tmux-colors-solarized.git
[submodule "scm_breeze"]
	path = homedir/.scm_breeze
	url = git://github.com/scmbreeze/scm_breeze.git
[submodule "xCode-Solarized"]
	path = xCode-Solarized
	url = git@github.com:dm-z/xCode-Solarized.git
[submodule "homedir/.tmux/plugins/tpm"]
	path = homedir/.tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "homedir/.tmux/plugins/tmux-resurrect"]
	path = homedir/.tmux/plugins/tmux-resurrect
	url = https://github.com/tmux-plugins/tmux-resurrect
[submodule "homedir/.tmux/plugins/tmux-continuum"]
	path = homedir/.tmux/plugins/tmux-continuum
	url = https://github.com/tmux-plugins/tmux-continuum
[submodule "homedir/.tmux/plugins/tmux-sensible"]
	path = homedir/.tmux/plugins/tmux-sensible
	url = https://github.com/tmux-plugins/tmux-sensible
[submodule "homedir/.vim/plugged/swift.vim"]
	path = homedir/.vim/plugged/swift.vim
	url = git@github.com:keith/swift.vim.git
[submodule "homedir/.vim/plugged/async.vim"]
	path = homedir/.vim/plugged/async.vim
	url = git@github.com:prabirshrestha/async.vim.git
[submodule "homedir/.vim/plugged/coc.vim"]
	path = homedir/.vim/plugged/coc.nvim
	url = git@github.com:neoclide/coc.nvim.git
[submodule "homedir/.vim/plugged/ctrlsf.vim"]
	path = homedir/.vim/plugged/ctrlsf.vim
	url = git@github.com:dyng/ctrlsf.vim.git
[submodule "homedir/.vim/plugged/fzf.vim"]
	path = homedir/.vim/plugged/fzf.vim
	url = git@github.com:junegunn/fzf.vim.git
[submodule "homedir/.vim/plugged/fzf"]
	path = homedir/.vim/plugged/fzf
	url = git@github.com:junegunn/fzf.git
[submodule "homedir/.vim/plugged/vim-lsp"]
	path = homedir/.vim/plugged/vim-lsp
	url = git@github.com:prabirshrestha/vim-lsp.git
[submodule "homedir/.vim/plugged/vim-lsp-swift"]
	path = homedir/.vim/plugged/vim-lsp-swift
	url = git@github.com:ryanolsonx/vim-lsp-swift.git
[submodule "homedir/.vim/plugged/vim-prettier"]
	path = homedir/.vim/plugged/vim-prettier
	url = git@github.com:ryanolsonx/vim-prettier.git
[submodule "libcaca"]
	path = libcaca
	url = git@github.com:cacalabs/libcaca.git
[submodule "SwiftLintForXcode"]
	path = SwiftLintForXcode
	url = git@github.com:norio-nomura/SwiftLintForXcode.git
[submodule "tools-osx"]
	path = tools-osx
	url = git@github.com:morgant/tools-osx.git
[submodule "XVim2"]
	path = XVim2
	url = git@github.com:XVimProject/XVim2.git
[submodule "custom/plugins/zsh-syntax-highlighting"]
	path = custom/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "alacritty"]
	path = alacritty
	url = https://github.com/jwilm/alacritty.git
[submodule "bat-extras"]
	path = bat-extras
	url = git@github.com:eth-p/bat-extras.git
[submodule "sh"]
	path = sh
	url = git@github.com:mvdan/sh.git
[submodule "ripgrep"]
	path = ripgrep
	url = git@github.com:BurntSushi/ripgrep.git
[submodule "base16-xcode"]
	path = base16-xcode
	url = git@github.com:kreeger/base16-xcode.git
[submodule "sourcekit-lsp"]
	path = sourcekit-lsp
	url = git@github.com:apple/sourcekit-lsp.git
[submodule "next"]
	path = next
	url = git@github.com:atlas-engineer/next.git
