{
  "parser": "babylon",
  "tabWidth": 2,
  "semi": true,
  "useTabs": false,
  "singleQuote": false,
  "printWidth": 80,
  "bracketSpacing": true,
  "trailingComma": "all",
  "jsxBracketSameLine": false,
  "arrowParens": "avoid",
  "overrides": [
    {
      "files": ".prettierrc",
      "options": { "parser": "json" }
    },
    {
      "files": "*.json",
      "options": { "parser": "json" }
    },
    {
      "files": "*.md",
      "options": { "parser": "markdown"}
    },
    {
      "files": "Pull_Request_Template.md",
      "options": { "parser": "markdown",  "printWidth":1000}
    }
  ]
}
